<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <style>
        
    </style>
</head>

<body>
    <h2><%= name %> sent you a message!</h2>
    <p>
        <%= message %>
    </p>
</body>

</html>